body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f8fb;
}

main{
    max-width: 600px;
    margin: 40px;
    padding: 20px 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5)

}

h1 {
    text-align: center;
}
form {
display: flex;
flex-direction: column;
padding: 20px;
}

label{
    margin-top: 10px;
   
}

input[type="text"],
input[type="number"],
textarea,
select
{
    width: calc(100%-20px);
  padding: 8px;
  margin-top: 5px;
  border-radius: 7px;
  border: 1px solid #ddd;  
}

button
{
    margin-top: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;

}

button:hover{
    background-color: #45a049;
}

fieldset{
    border: none;
    margin-top: 20px;
}

legend{
    font-weight: bold;
}



