body{
    font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
background-color: azure;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
text-align: center;
}

.event{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 4px 8px grey;
    
}

.event h1{

    color: #333;
    font-size: 1.8rem;
    margin-bottom: 50px;

}

.event .date-time,
.event .venue,
.event .description
{
margin-bottom: 20px;
font-size: 1rem;

}

.rsvp {

    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font: 1rem ;
}
.rsvp:hover
{
    background-color: #45a049;
}

