* {
    font-family: Arial;
    color: #333333;}
  
  h1 {
    font-family: "Courier New", monospace;}
    
  
  i {color: green;}
  i {color: red;}
  
  p b {color: blue !important;}
  p b {color: violet;}
  