body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffbea;
    color: #333;
    margin: 0;
    padding: 0;
}

header{
    background-color: #79a3b1;
    color: white;
    padding: 20px ;
    text-align: center;
    width: 100%;
}

header h1 {
    margin: 0;
}



.ingredients h2,
.instructions h2 {
    color: #b3568f;
}


ul, ol {
    margin-left: 50px;
}


main{
    width: 80%;
    margin: 20px auto;
}

.introduction,
.ingredients,
.instructions
{
    background-color: #f8f8f8;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px #8f8f8f;
}





footer
{
text-align: center;
background-color:#79a3b1 ;
color: white;
padding: 10px;
width: 100%;

}